<header class="bg-white shadow p-4  h-24 flex justify-between items-center">
    <div class=" w-1/2  h-full flex justify-start items-center gap-6">
        <div class="w-16 h-full  rounded-full">
            <img class="w-full h-full object-cover rounded-full"
                src="https://images.unsplash.com/photo-1567515004624-219c11d31f2e??auto=format&q=75&fit=crop&w=256"
                alt="">
        </div>
        <div class="w-80 h-full flex flex-col justify-center items-start  ">
            <h1 class="text-2xl tracking-tighter font-semibold">John McCulling</h1>
            <h2>Online<sup class="text-[0.40rem]">🟢</sup></h2>
        </div>

    </div>
    <div class=" w-[15rem] flex items-center justify-end">
        <button id="video-call-btn" class=" text-white py-2 px-4 rounded-md ">
            <img class="w-6" src="https://cdn-icons-png.flaticon.com/128/3913/3913243.png" alt="">
        </button>
        <button id="audio-call-btn" class=" text-white py-2 px-4 rounded-md ">
            <img class="w-6" src="https://cdn-icons-png.flaticon.com/128/126/126509.png" alt="">
        </button>
        <button id="reset-btn" class=" text-white py-2 px-4 rounded-md ">
            <img class="w-6" src="https://cdn-icons-png.flaticon.com/128/665/665049.png" alt="">
        </button>
    </div>
</header>